@import "../node_modules/angular-calendar/css/angular-calendar.css";
/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
}
.medium_box {
    width : 70vh;
    border-radius: 20%;
    background-color:aliceblue;
    border-color: cadetblue;
    border-style: solid;
    border-width: 20px;
    padding: 3vh;
    text-align: center;
}

.centered {
    margin: auto;
    vertical-align: middle;
}

.boton-anadir {
    border-radius: 100%;
    position:absolute;
    bottom: 50px;
    right: 50px;
    width: 100px;
    height: 100px;
    padding: 3vh;
    align-items: center;
    display:flex;
    justify-content: center;
}


.boton-anadir-texto {
    font-size: 100px;
    left: 50%;
    top:30%;
}

.modal-header, .modal-body, .modal-footer, .form-group input{
    background-color: black;
}
.modal-title, .form-group label, .form-group input{
    color: white;
}
.modal-content{
    border-color: white;
    border-style: solid;
}

.logout{
    position: absolute;
    right: 30px;
}

.clickable{
    cursor:pointer;
}

