<div class="card text-white bg-dark m-5" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">El origen de las especies</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark">Autor: Charles Darwin</li>
        <li class="list-group-item bg-dark">Páginas: 350</li>
        <li class="list-group-item bg-dark">No leído</li>
        <div class="d-flex justify-content-center">
            <fa-icon class="fa-2x" [icon]="faStar"></fa-icon>
            <fa-icon class="fa-2x" [icon]="faStar"></fa-icon>
            <fa-icon class="fa-2x" [icon]="faStar"></fa-icon>
            <fa-icon class="fa-2x" [icon]="faStar">
            </fa-icon>
            <fa-icon class="fa-2x estrella-vacia" [icon]="faStar"></fa-icon>
        </div>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Marcar como leído</a>
        <a href="#" class="card-link text-secondary">Eliminar</a>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <button href="#" type="button" class="btn btn-light">Planificar lectura</button>
        </div>
    </div>
</div>