<app-book-create></app-book-create>
<div class="d-flex flex-row">
<div *ngFor="let book of books" class="card text-white bg-dark m-5" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{book.title}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark">Autor: {{book.author}}</li>
        <li class="list-group-item bg-dark">Páginas: {{book.pages}}</li>
        <li class="list-group-item bg-dark">{{"book.toRead==0 ? 'No leído' : 'Leido'" }}</li>
        <div class="d-flex justify-content-center">
            <fa-icon class="fa-2x" [icon]="faStar"></fa-icon>
            <fa-icon class="fa-2x" [icon]="faStar"></fa-icon>
            <fa-icon class="fa-2x" [icon]="faStar"></fa-icon>
            <fa-icon class="fa-2x" [icon]="faStar">
            </fa-icon>
            <fa-icon class="fa-2x estrella-vacia" [icon]="faStar"></fa-icon>
        </div>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Marcar como leído</a>
        <a href="#" class="card-link text-secondary">Eliminar</a>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <button href="#" type="button" class="btn btn-light">Planificar lectura</button>
        </div>
    </div>
</div>
</div>